GOOGLE_APPS_SCRIPT_WEBHOOK_URL=
PUBLISHED_POPUP_EVENTS_CSV_URL=
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1qIp6VXteTDFmDH60CSkXhssxKZ3Iwb96C_ezVdREGHY
GOOGLE_DOC_URL=
KAJABI_FORM_EMBED_URL=
